@media print {
    footer {
        display: none;
    }

    .md-top {
        display: none;
    }

    .md-dialog {
        display: none;
    }

    p, pre, blockquote, .tabbed-set {
        page-break-inside: avoid;
    }
}
